@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.container{
    position: relative;
    width: 400px;
    height: 440px;
    border: 2px rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 15px 25px rgb(248, 247, 247);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .form-box{
    width: 100%;
    padding: 40px;
}

.form-box h1{
    font-size: 2em;
    color: #2f498e;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50px;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -12px;
}    

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 10px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;
}

.faculty-student{
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.faculty-student label input{
    accent-color: #fff;
    margin-right: 3px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.remember-forgot{
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
    margin-top: 10px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    color: #2f498e;
    font-weight: 900;
    transition: .5s;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}

.login-register{
    font-size: 1em;
    color: #000;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register a{
    width: 100%;
    height: 45px;
    color: #fff;
    background: #2f498e;
    border: none;
    outline: none;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 8px;
    transition: .5s;
}

.login-register a:hover{
    background-color: #fff;
    color: #000;
}

.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .background-clip{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .background-clip{
        width: auto;
        height: 100%;
    }
}

/*****register*****/

.wrapper{
    position: relative;
    width: 400px;
    height: 480px;
    border: 2px solid #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

h2{
    color: #fff;
    text-align: center;
}

.input-box-form{
    position: relative;
    width: 100%;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50px;
    margin: 20px 0;
}

.input-box-form label{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
    padding: 0 35px 0 5px;
}

.input-box-form input:focus~label,
.input-box-form input:valid~label {
    top: -12px;
}    

.input-box-form input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

img{
    height: 70px;
    width: 70px;
    border-radius: 15px;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scale(0);
    transition: transform .3s;
}

.navigation a:hover::after{
    transform: scale(1);
}

.navigation .btn-logout{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btn-logout:hover{
    background: #fff;
    color: #2f498e;
}